/* comment reset */
.comment-content,
.comment-list,
.ping-list,
ol.comment-list,
ul.children,
.entry-comments,
.entry-pings {
	clear: both;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.comment-list {
	background-color: $color-bg-comments;

	li li {
		@include rem(padding, 12px);
	}

	.comment {
		@include rem(padding, 12px);
	}

	.even {
		background-color: $color-bg-comment-even;
	}

	.odd {
		background-color: $color-bg-comment-odd;
	}

	.bypostauthor {
		background-color: $color-bg-comment-author;
	}
}

.comment-content {
	@include rem(padding-right, 24px);
}

.comment-respond,
.entry-pings {
	@include rem(padding, 48px 0);
}

/* comment children */
ul.children {
	margin-left: 3%;
	@include rem(padding, 12px 0 0);
}

/* comment forms */
.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
	width: 50%
}

.comment-respond label {
	display: block;
	@include rem(margin-right, 12px);
}

.entry-pings {
	.reply {
		display: none;
	}
}

.form-allowed-tags {
	background-color: $blackLighter;
	@include rem(font-size, 14px);
	@include rem(padding, 24px);
}