/* Containers
--------------------------------------------- */

.site-header {
	background-color: $color-bg-header;
}

.site-main {
	@include rem(margin-bottom, 48px);
}

.wrap {
	margin: 0 auto;
	max-width: $width-site-wrap;
}

.hentry,
.comments-area {
	@include rem(padding, 40px 48px);
}