/* Breadcrumbs
--------------------------------------------- */

.breadcrumbs {
	@include rem(margin-bottom, 24px);
}

/* Post Content
--------------------------------------------- */

.site-inner {
	background-color: $color-bg-wrap;
	clear: both;
	@include rem(padding-top, 48px);
}

.post,
.site-inner .page,
.author-box {
	background-color: $color-bg-posts;
	@include rem(margin-bottom, 24px);
	@include rem(padding, 48px);
}

.sticky {
	background-color: $color-bg-sticky;
	border: 1px solid $color-border-sticky;
}

.entry-title a {
	color: $color-headlines-primary;
	text-decoration: none;
}

.entry-title a:hover {
	color: $color-link-hover;
}

.entry-meta {
	color: $color-entry-meta;
	border-top: 1px solid $color-border;
	@include rem(font-size, 14px);
	@include rem(padding, 24px 0);
}

.entry-updated {
	display: none;
}

/* Post Formats
--------------------------------------------- */

.format-aside,
.format-audio,
.format-image,
.format-link,
.format-status,
.format-quote,
.format-video {

	.entry-meta {
		display: none;
	}

}

.format-chat,
.format-gallery {

	footer {
		.entry-meta {
			display: none;
		}
	}

}