/* Content
--------------------------------------------- */

.site-inner {
	background-color: $color-bg-wrap;
	clear: both;
	@include rem(padding-top, 48px);
}

.sticky {
	background-color: $color-highlight;
}

.page-header {
	@include rem(margin-top, 24px);
}

.entry-title a {
	color: $color-headlines-primary;
	text-decoration: none;
}

.entry-title a:hover {
	color: $color-link-hover;
}

.entry-meta {
	color: $color-text-secondary;
	border-top: 1px solid $color-border;
	@include rem(font-size, 14px);
	@include rem(padding, 24px 0);
}

.hentry {
	background-color: $color-bg-content;
	@include rem(margin-bottom, 48px);
}

.entry-updated {
	display: none;
}