/* Footer Widget Area
--------------------------------------------- */

.footer-widgets {
	background-color: $color-bg-footer-widgets;
	border-top: 10px solid $color-border;
	color: $color-text-tertiary;
	clear: both;
	@include rem(padding, 40px 0 16px);
	
	.widget {
		background-color: $color-bg-footer-widgets;
		padding: 0;
	}

	.widget-title {
		color: $color-footer-widget-title;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}