/* Footer
--------------------------------------------- */

.site-footer {
	clear: both;
	background-color: $color-bg-footer;
	@include rem(padding, 8px 0);
}

.site-info {
	color: $color-footer-text;
	@include rem(font-size, 12px);
	@include rem(padding, 12px 0);
}

.site-info a {
	color: $color-footer-link;
}