/* Footer
--------------------------------------------- */

.site-footer {
	clear: both;
	background-color: $color-bg-credits;
	@include rem(padding, 8px 0);
}

.site-info {
	color: $color-text-footer;
	@include rem(font-size, 14px);
	@include rem(padding, 12px);
}

.site-info a {
	color: $color-link-footer;
}

.site-info a:hover {
	color: $color-link-footer-hover;
}

.admin-links,
.credits {
	float: left;
	@include rem(margin-right, 24px);
}

.rtt {
	float: right;
}

.admin-links ul {
	margin: 0;
	padding: 0;
}

.admin-links li {
	display: inline-block;
}