/* Footer
--------------------------------------------- */

.site-footer {
	clear: both;
	background-color: $color-bg-credits;
	@include rem(padding, 8px 0);
}

.credits {
	color: $color-text-footer;
	@include rem(font-size, 14px);
	@include rem(padding, 12px 0);
}

.credits a {
	color: $color-link-footer;
}

.credits a:hover {
	color: $color-link-footer-hover;
}