/* Main Navigation
--------------------------------------------- */

.main-navigation {
	background-color: $color-bg-nav;
	border-bottom: 6px solid $color-nav-border;
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
	}

	li {
		float: left;
		position: relative;
	}

	a {
		color: $color-nav-link;
		display: block;
		@include rem(padding, 24px);
		text-decoration: none;
	}

	ul.sub-menu {
		background-color: $color-bg-nav-sub;
		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
		display: none;
		float: left;
		position: absolute;
		z-index: 99999;

		ul {
			left: 100%;
			top: 0;
		}

		a {
			color: $color-nav-sub-link;
			@include rem(padding, 16px 24px);
			width: 200px;
		}

		a:hover {
			background-color: $color-bg-nav-sub-hover;
			color: $color-nav-sub-link-hover;
		}

	}

	li:hover > a {
	}

	ul li:hover > ul.sub-menu {
		display: block;
	}

	li.current_page_item a,
	li.current-menu-item a {
	}

}

/* Small menu */
.menu-toggle {
	cursor: pointer;
	display: none;
}