/* Pagination
--------------------------------------------- */

.post-navigation,
.paging-navigation,
.page-links {
	clear: both;
}

.post-navigation {
	overflow: hidden;
}

.nav-previous {
	float: left;
	width: 50%;
}

.nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
