/* Primary Widget Area
--------------------------------------------- */

.primary-widget-area,
.secondary-widget-area {

	.widget {
		background-color: $color-bg-widget;
		@include rem(margin-bottom, 24px);
		@include rem(padding, 48px);

	}

	.widget-title {
		color: $color-widget-title;
		font-family: $font-widget-title;
		@include rem(font-size, $font-size-widget-title);
	}

	.search-field {
		width: 65%;
	}

	.gform_wrapper .top_label input.medium,
	.gform_wrapper .top_label select.medium {
		width: 100%;
	}

}
