
/* Fonts
--------------------------------------------- */

html {
	font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
	overflow-y: scroll; /* Keeps page centered in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust:     100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}

/* Box Sizing
--------------------------------------------- */

*,
*:before,
*:after { /* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
	-webkit-box-sizing: border-box; /* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */
	-moz-box-sizing:    border-box; /* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */
	box-sizing:         border-box;
}

/* Clearfix
	http://nicolasgallagher.com/micro-clearfix-hack/
--------------------------------------------- */

.clear:before,
.clearfix:before,
.row:before,
.col:before,
.clr:before,
.menu:before,
.site-inner:before,
.site-main:before,
.content-sidebar:before,
.entry:before,
.entry-header:before,
.entry-content:before,
.post-navigation:before,
.entry-pagination:before,
.entry-footer:before,
.author-box:before,
.comment-list:before,
.comment:before,
.comment-respond:before,
.comment-body:before,
.site-info:before,
.widget:before,
.wrap:before {
	content: " ";
	display: table;
}

.clear:after,
.clearfix:after,
.row:after,
.col:after,
.clr:after,
.menu:after,
.site-inner:after,
.site-main:after,
.content-sidebar:after,
.entry:after,
.entry-header:after,
.entry-content:after,
.entry-pagination:after,
.entry-footer:after,
.post-navigation:after,
.author-box:after,
.comment-list:after,
.comment:after,
.comment-respond:after,
.comment-body:after,
.site-info:after,
.widget:after,
.wrap:after {
	clear: both;
	content: " ";
	display: table;
}
