/* Responsive
--------------------------------------------- */

@media only screen and (max-width: 1180px) {

	.wrap {
		max-width: 90%;
	}

}

@media only screen and (max-width: 1024px) {

	body,
	.site-header,
	.site-inner,
	.site-footer {
		background-color: #fff;
	}

	.site-branding,
	.site-title,
	.site-description,
	.site-info,
	.header_widget_area,
	.page-header,
	.breadcrumbs,
	.nav-previous,
	.nav-next,
	.site-credits {
		clear: both;
		float: none;
		margin: 0;
		padding: 0;
		@include rem(padding-bottom, 12px);
		text-align: center;
		width: 100%;
	}

	.site-title {
		@include rem(font-size, 48px);
	}

	.site-description {
		@include rem(font-size, 24px);
	}

	.site-branding,
	.header_widget_area,
	.comments-title,
	.site-credits {
		@include rem(margin-top, 24px);
	}

	.main-navigation,
	.entry-title,
	.comments-title,
	.comment-reply-title,
	.logged-in-as,
	.comment-form-comment,
	.form-submit,
	.rtt {
		float: none;
		text-align: center;
	}

	.header_widget_area ul.menu,
	.main-navigation ul.menu {
		display: inline-block;
		float: none;
	}

	.site-inner,
	.site-main {
		@include rem(margin, 12px 0);
		@include rem(padding, 12px 0);
	}

	.widget-area .search-field {
		width: 84%;
	}

	.hentry {
		@include rem(padding, 24px);
	}

	.primary-widget-area,
	.footer-widgets {
		.widget {
			@include rem(padding, 24px);
		}
	}

}

@media only screen and (max-width: 480px) {

	.widget-title {
		text-align: center;
	}

	#comments,
	ol.comment-list,
	.comment-content {
		padding: 0;
	}

	ul.children .comment {
		@include rem(padding, 6px 0 0 6px);
	}

}
