/* Responsive
--------------------------------------------- */

@media only screen and (max-width: 1180px) {

	.wrap {
		max-width: 90%;
	}

}

@media only screen and (max-width: 1024px) {

	body,
	.site-header,
	.site-inner,
	.site-footer {
		background-color: #fff;
	}

	.site-branding,
	.site-title,
	.site-description,
	.site-info,
	.header_widget_area,
	.page-header,
	.breadcrumbs,
	.nav-previous,
	.nav-next {
		clear: both;
		float: none;
		margin: 0;
		padding: 0;
		@include rem(padding-bottom, 12px);
		text-align: center;
		width: 100%;
	}

	.site-title {
		@include rem(font-size, 48px);
	}

	.site-description {
		@include rem(font-size, 24px);
	}

	.site-branding,
	.header_widget_area {
		@include rem(margin-top, 24px);
	}

	.main-navigation {
		float: none;
		text-align: center;
	}

	.header_widget_area ul.menu,
	.main-navigation ul.menu {
		display: inline-block;
		float: none;
	}

	.site-inner,
	.site-main {
		@include rem(margin, 12px 0);
		@include rem(padding, 12px 0);
	}

	.gutters .span-8 {
		width: 100%;
	}

	.hentry {
		@include rem(padding, 24px);
	}

	.comments-area,
	ol.comment-list,
	ol.comment-list li li,
	ol.comment-list .comment {
		@include rem(margin, 12px 0 0);
		@include rem(padding, 12px 0 12px 12px);
	}

	.primary-widget-area,
	.footer-widgets {
		.widget {
			@include rem(padding, 24px);
		}
	}

}
