/* Typography
--------------------------------------------- */

html {
	font-size: 62.5%; /* 10px browser default */
}

body {
	background-color: $color-bg-body;
	color: $color-text-primary;
	font-family: $font-stack-sans;
	@include rem(font-size, $font-size-body);
	font-weight: 300;
	line-height: 1.625;
}

p {
	@include rem(margin-bottom, 24px);
}

ul,
ol {
	@include rem(padding-left, 24px);
}

li > ul,
li > ol {
	margin-bottom: 0;
	@include rem(margin-left, 24px);
}

dt {
	font-weight: 700;
}

dd {
	@include rem(margin, 0 24px 24px);
}

b,
strong {
	font-weight: 700;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	@include rem(margin, 24px);
}

address {
	@include rem(margin, 0 0 24px);
}

pre {
	background: $color-highlight;
	font-family: $font-stack-mono;
	@include rem(font-size, 15px);
	line-height: 1.6;
	@include rem(margin-bottom, 25px);
	@include rem(padding, 16px);
	overflow: auto;
	max-width: 100%;
}

code,
kbd,
tt,
var {
	font-family: $font-stack-mono;
	@include rem(font-size, 15px);
}

abbr,
acronym {
	border-bottom: 1px dotted $color-border;
	cursor: help;
}

mark,
ins {
	background: $color-highlight;
	text-decoration: none;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

small {
	font-size: 75%;
}

big {
	font-size: 125%;
}

figure {
	margin: 0;
}

th {
	font-weight: 700;
}

/* Headlines
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	color: $color-headlines-primary;
	font-family: $font-stack-headlines;
	font-weight: 700;
	line-height: 1.2;
	margin: 0;
	@include rem(margin-bottom, 24px);
	padding: 0;
}

h1 {
	@include rem(font-size, 36px);
}

h2 {
	@include rem(font-size, 30px);
}

h3 {
	@include rem(font-size, 24px);
}

h4 {
	@include rem(font-size, 20px);
}

h5 {
	@include rem(font-size, 18px);
}

h6 {
	@include rem(font-size, 16px);
}