// -------------------------------------------------------------------------
// DEFAULT VARIABLES
// -------------------------------------------------------------------------


// Font Stacks
// ------------------------------------------
$font-stack-sans:           "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
$font-stack-serif:          Georgia, Times, "Times New Roman", serif;
$font-stack-mono:           "Courier 10 Pitch", Courier, monospace;


// Colors
// We love this SASS color tool: http://sassme.arc90.com and recommend
// using Adobe Kuler https://kuler.adobe.com/explore/most-popular/
// or the Color Blender http://meyerweb.com/eric/tools/color-blend/
// for design inspiration!
// ------------------------------------------

// Grayscale
$black:                         #000000;
$blackMed:                      #222222;
$blackLight:                    #888888;
$blackLighter:                  #dddddd;
$blackLightest:                 #eeeeee;
$white:                         #ffffff;

// Color Theme
$color-1:                       #111111; // Text
$color-2:                       #888888; // Secondary Text
$color-3:                       #351A01; // Nav & Footer Backgrounds
$color-4:                       #CC6D16; // Links
$color-5:                       #F0D5BC; // Borders & Highlights
$color-6:                       #F8EADE; // Content, Wrap, & Widget Backgrounds
$color-7:                       lighten($color-6, 4); // Site Background


// -------------------------------------------------------------------------
// THEME SETTINGS
// -------------------------------------------------------------------------

// Body
// ------------------------------------------
$color-bg-body:                 $color-7;
$color-bg-wrap:                 $color-bg-body;
$color-border:                  $color-5;
$color-highlight:               $blackLightest;
$size-html:                     10; // Default: 10. Do not use px. Used to calclulate REM value in mixin.

// Hyperlinks
$color-link:                    $color-4;
$color-link-hover:              $color-5;

// Text
$color-text-primary:            $color-1;
$color-text-secondary:          $color-2;
$color-text-tertiary:           $white;
$width-site-wrap:               1140px;
$font-size-body:                16px;

// Headlines
$color-headlines-primary:       $color-4;
$color-headlines-secondary:     $color-5;
$font-stack-headlines:          $font-stack-sans;


// Header Area
// ------------------------------------------
$color-bg-header:               $color-bg-body;
$color-site-title:              $color-headlines-primary;
$color-site-description:        $color-headlines-secondary;
$font-size-site-title:          48px;
$font-size-site-description:    14px;
$font-stack-site-title:         $font-stack-sans;
$font-stack-site-description:   $font-stack-sans;

// Header Widget Nav
$color-link-nav-header:         $color-link;
$color-link-nav-header-hover:   $color-link-hover;


// Main Navigation
// ------------------------------------------
$color-bg-nav:                  $color-3;
$color-border-nav:              $color-border;
$color-link-nav:                $color-link;
$color-link-nav-hover:          $color-link-hover;

// Submenu
$color-bg-submenu:              $color-6;
$color-bg-submenu-hover:        $color-4;
$color-link-submenu:            $color-4;
$color-link-submenu-hover:      $color-5;


// Content Area
// ------------------------------------------
$color-bg-content:              $color-6;

// Forms
$color-bg-button:               $color-bg-nav;
$color-bg-button-hover:         $color-4;
$color-border-form:             $color-border;
$color-text-button:             $color-6;
$color-text-button-hover:       $color-5;
$color-input-form:              $color-text-primary;

// Comments
$color-bg-comment-area:         $color-bg-content;
$color-bg-comment-even:         $color-bg-content;
$color-bg-comment-odd:          $color-5;
$color-bg-comment-author:       lighten(#ffff00, 38);


// Primary Widget Area
// ------------------------------------------
$color-bg-widget:               $color-bg-content;
$color-widget-title:            $color-headlines-primary;
$font-widget-title:             $font-stack-sans;
$font-size-widget-title:        24px;


// Footer Area
// ------------------------------------------
$color-bg-credits:              $color-bg-body;
$color-bg-footer:               $color-bg-nav;
$color-bg-widgets-footer:       $color-bg-footer;
$color-border-footer:           $color-border;
$color-text-footer:             $color-text-primary;
$color-link-footer:             $color-link;
$color-link-footer-hover:       $color-link-hover;
$color-widget-title-footer:     $color-headlines-primary;