// Colors
// We love this SASS color tool: http://sassme.arc90.com
// -------------------------

// Grayscale
$black:						#000000 !default;
$blackMed:					#222222 !default;
$blackLight:				#888888 !default;
$blackLighter:				#dddddd !default;
$blackLightest:				#eeeeee !default;
$white:						#ffffff !default;

// Rainbow
$red:						#ff0000 !default;
$orange:					#ffa500 !default;
$yellow:					#ffff00 !default;
$green:						#008000 !default;
$blue:						#0000ff !default;
$indigo:					#4b0082 !default;
$violet:					#8f00ff !default;

// Backgrounds
$color-bg-body:				$white !default;
$color-bg-nav:				$blackMed !default;
$color-bg-nav-sub:			$white !default;
$color-bg-nav-sub-hover:	$blackLightest !default;
$color-bg-header:			$white !default;
$color-bg-widgets:			$white !default;
$color-bg-content:			$white !default;
$color-bg-comments:			$white !default;
$color-bg-comment-even:		lighten($black, 98) !default;
$color-bg-comment-odd:		$white !default;
$color-bg-comment-author:	lighten($yellow, 45) !default;
$color-bg-button:			$blackLighter !default;
$color-bg-button-hover:		$blackLightest !default;
$color-bg-footer:			$blackMed !default;

// Border
$color-border:				$blackLighter !default;
$color-nav-border:			$blackLighter !default;
$color-nav-sub-border:		$blackLightest !default;

// Branding
$color-site-title:			$blackMed !default;
$color-site-description:	$blackLight !default;

// Hightlight
$color-highlight:			$blackLightest !default;

// Links
$color-link:				$blackLight !default;
$color-link-hover:			$blackLighter !default;

// Navigation
$color-nav-link:			$white !default;
$color-nav-link-hover:		$blackLightest !default;
$color-nav-sub-link:		$blackMed !default;
$color-nav-sub-link-hover:	$black !default;
$color-nav-header-link:		$black !default;
$color-nav-header-link-hover: $blackLightest !default;

// Text
$color-text-primary:		$black !default;
$color-text-secondary:		$blackLight !default;
$color-text-tertiary:		$white !default;

// Headlines
$color-headlines-primary:	$blackMed !default;
$color-headlines-secondary:	$blackLight !default;
$color-headlines-footer:	$white !default;

// Forms
$color-form-button-text:	$black !default;
$color-form-input-text:		$black !default;			


// Structure
// -------------------------
$site-wrap:					1140px !default; // The width of .wrap (1140, 960, etc...)


// Typography
// -------------------------
$font-size:					10 !default; // Default: 10. After setting html {font-size: 62.5%;} in _site-defaults.scss
$font-sans:					"Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-serif:				Georgia, Cambria, "Times New Roman", Times, serif !default;
$font-mono:					"Courier 10 Pitch", Courier, monospace !default;
$site-title-font:			$font-serif !default;
$site-description-font:		$font-sans !default;
$headline-font:				$font-sans !default;