/* Branding
--------------------------------------------- */

.site-branding {
	float: left;
	@include rem(padding, 16px 0);
}

.site-title {
	float: left;
	@include rem(font-size, 48px);
	line-height: 1.3;
	margin: 0;
	@include rem(padding-top, 4px);
}

.site-title a {
	color: $color-site-title;
	font-weight: 700;
	text-decoration: none;
}

.site-description {
	color: $color-site-description;
	@include rem(font-size, 12px);
}