/* Comments
--------------------------------------------- */

.comments-area {
	@include rem(margin-top, 48px);
}

.comment-list {
	margin: 0;
	padding: 0;
}

.entry-comments {
	clear: both;
	@include rem(margin, 48px 0);
}

.comment-respond,
.entry-pings {
	@include rem(padding, 48px 0);
}

.comment-area .entry-comments {
	@include rem(padding, 40px);
}

.comment-list,
.ping-list{
	clear: both;
	list-style-type: none;
}

.comment-list{
	background-color: $color-bg-comments;
	@include rem(margin-bottom, 24px);
	@include rem(padding, 40px 48px 24px);
}

/* comment children */
ul.children {
	clear: both;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	top: 12px;
}

.comment-list li li {
	@include rem(padding, 12px);
}

/* comment forms */
.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
	width: 50%
}

.comment-respond label {
	display: block;
	@include rem(margin-right, 12px);
}

.comment-content {
	clear: both;
}

.entry-comments .avatar {
	float: left;
	@include rem(margin-right, 24px);
}

.comment-metadata {
	@include rem(margin-top, 12px);
}

.entry-comments .comment-author {
	margin-bottom: 0;
}

.entry-pings .reply {
	display: none;
}

.bypostauthor {
	background-color: $color-bg-comment-author;
}

.form-allowed-tags {
	background-color: $color-bg-comments;
	@include rem(font-size, 14px);
	@include rem(padding, 24px);
}