/* Header Widget Area
--------------------------------------------- */

.sidebar-header {
	float: left;
	text-align: right;
	@include rem(padding-top, 6px);

	.menu-item {
		display: inline-block;
		position: relative;
	}

	.widget {
		margin: 0;
		padding: 0;

		a {
			color: $color-link;
			@include rem(font-size, 12px);
			@include rem(padding, 0 5px);
			text-decoration: none;
		}

		a:hover {
			text-decoration: underline;
		}
	}
}