/* Default styles for SBX Settings
----------------------------------------------------------- */

/* Box Sizing
--------------------------------------------- */

.postbox {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

/* Clearfix Hack
--------------------------------------------- */

.clear:before,
.clearfix:before,
form:before,
.metabox-holder:before,
#poststuff:before,
.sbx-metaboxes:before,
.wrap:before {
	content: " ";
	display: table;
}

.clear:after,
.clearfix:after,
form:after,
.metabox-holder:after,
#poststuff:after,
.sbx-metaboxes:after,
.wrap:after {
	clear: both;
	content: " ";
	display: table;
}

/* Icons
--------------------------------------------- */
.sbx-metaboxes h2:before,
#adminmenu .toplevel_page_sb_admin div.wp-menu-image:before {
	content: '\f180';
}

.sbx-metaboxes h2:before {
	font-family: 'dashicons';
	vertical-align: bottom;
}

/* Metaboxes
--------------------------------------------- */

.sbx-metaboxes h2 {
	float: left;
	margin: 3px;
}

.sbx-metaboxes .buttons {
	margin-left: 8px;
}

.sbx-metaboxes .right {
	float: right;
}

.sbx-metaboxes .left {
	float: left;
}

.sbx-metaboxes .option-field-small {
	width: 10%;
}

.sbx-metaboxes .option-field-medium {
	width: 25%;
}

.sbx-metaboxes .option-field-large,
.sbx-metaboxes .uploadinput {
	width: 75%;
}

.sbx-metaboxes textarea {
	min-height: 150px;
	width: 99%;
}