/*
 * Derived from Sublime Text 2's "Monokai" theme
 */

pre.prettyprint {
	padding: 10px 10px 10px 20px;
	border: 0px solid #888 ;
	overflow-x: scroll;
	background: #272822;
}

.str {
	color: #E6DB74;
}
.kwd {
	color: #F92672;
}
.com {
	color: #6b7771;
}
.typ {
	color: #678CB1;
}
.lit {
	color: #FACD22;
}
.pun {
	color: #cee0f2;
}
.pln {
	color: #F1F2F3;
}
.tag {
	color: #8AC763;
}
.atn {
	color: #E0E2E4;
}
.atv {
	color: #EC7600;
}
.dec {
	color: purple;
}
ol.linenums {
	margin-top: 0;
	margin-bottom: 0;
}
li.L0, li.L1, li.L2, li.L3, li.L4, li.L5, li.L6, li.L7, li.L8, li.L9 {
	color: #555;
	list-style-type: decimal;
}
li.L1, li.L3, li.L5, li.L7, li.L9 {
	background: #2b2d26;
}
@media print
{
	.str {
		color: #060;
	}
	.kwd {
		color: #006;
		font-weight: bold;
	}
	.com {
		color: #600;
		font-style: italic;
	}
	.typ {
		color: #404;
		font-weight: bold;
	}
	.lit {
		color: #044;
	}
	.pun {
		color: #440;
	}
	.pln {
		color: #000;
	}
	.tag {
		color: #006;
		font-weight: bold;
	}
	.atn {
		color: #404;
	}
	.atv {
		color: #060;
	}
}